.productCard {
    width: 600px;
    height: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px rgba(128, 128, 128, 0.212);
    margin: 20px;

    &__right {
        width: 50%;
        display: flex;
        flex-direction: column;

        &__img {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin-left: 0;
            transform: scale(-1, 1);
        }
    }

    &__left {
        width: 50%;

        &__info {
            padding: 20px;
        }

        &__logo {
        }

        &__name {
            color: black;
            font-size: 24px;
            text-transform: uppercase;
        }

        &__model {
            color: gray;
            text-transform: uppercase;
        }
    }
}
