.productCard {
  width: 450px;
  height: 300px;
  display: flex;
  flex-direction: row;
  box-shadow: 5px 5px 5px 1px rgba(128, 128, 128, 0.212);
  // border-radius: 20px;

  &__right {
    width: 75%;
    display: flex;
    flex-direction: column;
    background-color: #f6f8f9;
    // border-top-right-radius: 20px;
    // border-bottom-right-radius: 20px;

    &__img {
      display: flex;
      flex-direction: column;
      padding-top: 30px;
      width: 90%;
      margin-left: 0;
      transform: scale(-1, 1);
    }
  }

  &__left {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 15px;

    &__name {
      color: #2b2b2b;
      font-size: 30px;
      padding-top: 70px;
      font-weight: 900;
      width: 300px;
      position: absolute;
      text-transform: uppercase;
    }

    &__info {
      margin-top: 125px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      &__model {
        color: #fcc100;
        text-transform: uppercase;
        font-size: 10px;
      }

      &__btn {
        margin-top: 20px;
        font-size: 11px;
        font-weight: 800;
      }
    }
  }
}
