.header {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  margin-bottom: 100px;
  // border-bottom: 1px solid black;

  &__menu {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
  }

  &__menu:hover {
    background-color: black;
    color: white;
  }

  &__search {
    max-width: 300px;
    height: 32px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    transform: translateY(-6px);
  }

  &__profile {
    display: flex;
    gap: 10px;
    &__text:hover {
      cursor: pointer;
      background-color: black;
      color: white;
    }
  }

  &__logo {
    cursor: pointer;
    transform: translateY(7px);
  }
}
