.menu {
  position: fixed;
  top: 0;
  left: -600px;
  width: 300px;
  height: 100%;
  padding: 40px 20px;
  background-color: #000000;
  padding: 20px;
  color: #fff;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.open {
  left: 0;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin-top: 80px;
  margin-bottom: 400px;
}

.menu li {
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 20px;
  position: relative;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.menu li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.menu li:hover {
  color: #ffcc00;
}

.menu input {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #333;
  color: #fff;
  border: 1px solid #fff;
  outline: none;
  font-size: 16px;

  &::placeholder {
    color: #666;
  }

  &:focus {
    border-color: #ffcc00;
  }
}

.closeButton {
  margin-top: 20px;
  border-radius: 20px;
  padding: 12px 100px;
  background-color: #ffffff;
  color: #000;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    transform 0.3s ease-in-out;

  &:hover {
    background-color: #e6b800;
    color: #fff;
    transform: scale(1.1);
  }
}
